@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Tilt+Neon&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;}


header,
header * {
    outline: 1px blue dash ed;
}


header {
    display: flex;
    justify-content: space-between;
    padding: .7rem 5vw ;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7vw;
    top: 0;
    left: 0;
    color:#fff;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;


}

.links{
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

nav,
.links a{
    display: flex;
    text-decoration: none;

}


nav {
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}



body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../img/pgBackground.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;


}

html {
    scroll-behavior: smooth;
}

section.hero,
section.hero * {
    outline: 1px red dahed
}




.titleHobby {
    font-size: 2.5rem;
    margin-bottom: 60px;
    margin-top: 15px;
    color: rgb(97, 145, 170);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.sectionPic {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}

.hobbyPic {
    background: #000;
    border-radius: 2rem;
    width: 100%;
    height: 140%;
}

#projectsDiv {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    padding: 0rem;
    width: 100%;
    margin-top: 180px;


}

#projectsDiv2 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    padding: 0rem;
    width: 100%;
    margin-top: 40px;


}

.project1Container {
    display: flex;



}


.detailsContainer {
    border-radius: rem;
    border: 0.1rem solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    width: 25dvw;
    border-radius: 10px;
    background: #000e3843;
    transition: all 500ms ease;

}

.detailsContainer p {
    font-weight: 400;
    margin-bottom: 15px;

}
.detailsContainer img {
    width: 20dvw;
    height: 20dvh;
    border-radius: 10px;

}



.project2Container {
    display: flex;


}


.details2Container {
    border-radius: rem;
    border: 0.1rem solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    width: 25dvw;
    border-radius: 10px;
    background: #000e3843;
    transition: all 500ms ease;


}

.details2Container p {
    font-weight: 400;
    margin-bottom: 15px;

}
.details2Container img {
    width: 20dvw;
    height: 20dvh;
    border-radius: 10px;

}



.project3Container {
    display: flex;

}


.details3Container {
    border-radius: rem;
    border: 0.1rem solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    width: 25dvw;
    border-radius: 10px;
    background: #000e3843;
    transition: all 500ms ease;


}

.details3Container p {
    font-weight: 400;
    margin-bottom: 15px;

}
.details3Container img {
    width: 20dvw;
    height: 20dvh;
    border-radius: 10px;

}


.project4Container {
    display: flex;

}


.details4Container {
    border-radius: rem;
    border: 0.1rem solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    width: 25dvw;
    border-radius: 10px;
    background: #000e3843;
    transition: all 500ms ease;


}

.details4Container p {
    font-weight: 400;
    margin-bottom: 15px;

}
.details4Container img {
    width: 20dvw;
    height: 20dvh;
    border-radius: 10px;

}

.project5Container {
    display: flex;

}


.details5Container {
    border-radius: rem;
    border: 0.1rem solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    width: 25dvw;
    border-radius: 10px;
    background: #000e3843;
    transition: all 500ms ease;


}

.details5Container p {
    font-weight: 400;
    margin-bottom: 15px;

}
.details5Container img {
    width: 20dvw;
    height: 20dvh;
    border-radius: 10px;

}


a.navigation:link {
    color: rgb(255, 255, 255);
  }


a.navigation:visited {
    color: rgb(249, 249, 249);
}


a.navigation:hover {
    color: rgb(255, 255, 255);
    transition: all 200ms ease;
}


a {
    position: relative;
    text-decoration: none;
    color: white;
}

a.navigation::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(78, 202, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;

}

a.navigation:hover::before {
    transform: scaleX(1);
}


a.navigation:active {
    color: rgb(255, 255, 255);
}



.project1Container:hover .detailsContainer {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.project2Container:hover .details2Container {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.project3Container:hover .details3Container {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(255, 255, 255)
}

.project4Container:hover .details4Container {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(255, 255, 255)
}

.project5Container:hover .details5Container {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(255, 255, 255)
}

