@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Tilt+Neon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;}





header {
    display: flex;
    justify-content: space-between;
    padding: .7rem 5vw ;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7vw;
    top: 0;
    left: 0;
    color:#fff;
    font-weight: 400;

}

.links{
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

nav,
.links a{
    display: flex;
    text-decoration: none;

}


nav {
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}



body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(../img/pgBackground.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;


}

html {
    scroll-behavior: smooth;
}



#aboutme {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12%;
    margin-top: 0px;
    color: white;

}
.aboutLeft img{
    width: 400px;
    height: auto;
    transform: translateY(50px);
    border-radius: 50px;
}
.aboutRight {
    width: 524%;
}

.aboutRight ul li {
    display: flex;
    align-items: center;
}

.aboutRight h1 {
    color: rgb(78, 202, 255);
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 90px;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.aboutRight p {
    color: #ffffff;
    line-height: 26px;
    font-size: 19px;
    text-align: justify;
}

.aboutRight .address {
    margin: 25px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    background: #0000007b;
    border-radius: 30px;
}

.aboutRight .address ul li {
    margin-bottom: 5px;
}



.address .address-logo {
    margin-right: 15px;
    color: rgb(78, 202, 255);
}

.address .separator {
    margin: 0 35px;
}

.address .separator2 {
    margin: 0 22px;
    margin-right: 35px;
}

.iconDiv {
    display: flex;
    background-color: yelowgreen;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    margin-left: 800px;
}

.homeIcons {
    display: flex;
    align-items: center;
    width: 40%;
    display: flex;
    justify-content: end;
    gap: 3rem;
    height: 7dvh;
    border-radius: 20px;

}

.icon1 {
    color: #072a5c;
    font-size: 30px;

}


.icon2 {
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon3 {
    color: #12d0ff;
    font-size: 30px;
}


.homeIcons a {
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease; 
}

.homeIcons a:hover {
    transform: scale(1.2); /* Scale the icon to 120% on hover */
}


a.navigation:link {
    color: rgb(255, 255, 255);
  }


a.navigation:visited {
    color: rgb(249, 249, 249);
}


a.navigation {
    --b: 0.2em;   /* the thickness of the line */
    --c: rgb(0, 175, 198); /* the color */

    color: #0000;
    padding-block: var(--b);
    background:
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
a.navigation:hover {
    --_p: 100%;
    --_s: .3s;
    text-shadow: 2px 2px 5px rgb(44, 255, 241);
    color: rgb(0, 175, 198);
}

